<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.60046 -->
    <meta charset="utf-8">
    <title>Контакты</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 20px;padding-left: 5px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        <div class="art-object870391899" data-left="0%"></div>
<div class="art-object1375517922" data-left="99.8%"></div>
<div class="art-object0" data-left="0%"></div>

            </div>

<h1 class="art-headline" data-left="0.92%">
    <a href="#">Travelling Blog</a>
</h1>
<h2 class="art-slogan" data-left="0.39%">tales,&nbsp;photos and impressions</h2>





                
                    
</header>
<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="начало.html" class="">Начало</a></li><li><a href="контакты.html" class="active">Контакты</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Connections</h3>
        </div>
        <div class="art-blockcontent"><p><img width="64" height="64" alt="" src="images/1306145457_twitter-2.png"><img width="64" height="64" alt="" src="images/1306145460_facebook-2.png"><img width="64" height="64" alt="" src="images/1306145462_rss-2.png"></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Locations</h3>
        </div>
        <div class="art-blockcontent"><p><a href="#">Africa<br></a><a href="#">America<br></a><a href="#">Asia<br></a><a href="#">Australia<br></a><a href="#">Europe<br></a><a href="#">Oceania</a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Galleries</h3>
        </div>
        <div class="art-blockcontent"><p style="text-align: center;"><img width="198" height="132" alt="" src="images/shutterstock_12843229-2-2-2.jpg"></p><p style="text-align:center;"><a href="#"><img width="17" height="20" alt="" src="images/left.png"></a><a href="#"><img width="17" height="20" alt="" src="images/right.png"></a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Направления</h3>
        </div>
        <div class="art-blockcontent"><p><iframe width="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?key=ABQIAAAACPPpQw1TdGC6T3iZ53UwixQykrt4VEQu9V1_z5LVzUaZcwa1RxR2I53dbmZg130577gKM_6NjXz5tQ&amp;sensor=false&amp;mapclient=jsapi&amp;ie=UTF8&amp;ll=-22.593726,136.40625&amp;spn=107.845904,228.339844&amp;z=3&amp;output=embed"></iframe><br><small><a href="http://maps.google.com/maps?key=ABQIAAAACPPpQw1TdGC6T3iZ53UwixQykrt4VEQu9V1_z5LVzUaZcwa1RxR2I53dbmZg130577gKM_6NjXz5tQ&amp;sensor=false&amp;mapclient=jsapi&amp;ie=UTF8&amp;ll=-22.593726,136.40625&amp;spn=107.845904,228.339844&amp;z=3&amp;source=embed" style="color:#000000;">View Larger Map</a></small></p></div>
</div></div>
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Контакты</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <img width="292" height="381" alt="" src="images/iStock_000005984973-002-2-2.jpg" style="float:left;"><p>Dolor justo ante iaculis dui maecenas leo in leo fusce. Ultrices vitae et ultricies  faucibus adipiscing nisl nibh enim curabitur vestibulum nostra egestas elit a sed.</p><p>Quis convallis consectetuer nec at ante erat vestibulum suscipit.  Amet ultrices feugiat nulla. Est curabitur ut sit augue morbi libero at libero pretium sodales. Turpis congue phasellus metus pellentesque. </p><p>Interdum nisl quisque magnis mollis.  Sed dui risus sem lacus felis aliquet nibh eu nec luctus donec et iaculis.  Sem sed pellentesque arcu quisque.  Nunc etiam commodo nulla libero nec id velit sodales aliquet dui luctus in viverra amet amet scelerisque ut. Phasellus tempus et enim phasellus leo lobortis hac.</p><p>Электронная почта me at: <a href="#">email@domain.com</a></p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div><footer class="art-footer">
<p style="float: left"><a href="#">Начало</a>|<a href="#">О себе</a>|<a href="#">Контакты<br></a>Авторское право © 2011. Все Права Защищены.<br><br><br></p><p style="float: right">Dui vel. <a href="http://www.wpzoom.com/">David Ferreira</a><br> Velit sem. <a href="http://lostandtaken.com/gallery/stainedpaper4.html">LostAndTaken</a></p>
</footer>

    </div>
    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
</div>


</body></html>